<div>
  <div class="searchbar">
    <span>
      Select Make:
      <select
        id = "make"
        ng-model="selectedMake"
        ng-change="$ctrl.searchMake(make); showYear=true"
        >

          <option
            id = "option"
            ng-repeat="make in $ctrl.makes"
            value="{{make.name}}">
            {{make.name}}
          </option>

      </select>
    </span>

    <span ng-show="showYear">
      Select Year:
      <select
        id = "year"
        ng-model="selectedYear"
        ng-change="$ctrl.searchYear(year)"
        >

          <option> 2005 </option>
          <option> 2006 </option>
          <option> 2007 </option>
          <option> 2008 </option>
          <option> 2009 </option>
          <option> 2010 </option>
          <option> 2011 </option>
          <option> 2012 </option>
          <option> 2013 </option>
          <option> 2014 </option>
          <option> 2015 </option>
          <option> 2016 </option>
          <option> 2017 </option>

      </select>
    </span>


  </div>

  <div class="results">
    <div
      class="modelsbox"
      ng-repeat="model in $ctrl.filteredModelsArr"
      ng-click="$ctrl.modelClick(model); showAllModels=!showAllModels">
        <div class="model" > Model: {{model}}</div>

        <div class="allmodels" ng-show="showAllModels" ng-repeat="allModels in $ctrl.filteredModels[model]">
          {{allModels}}
        </div>


    </div>
  </div>

</div>
